{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    ["babel-plugin-styled-components"]
  ],
  "presets": [
    ["@babel/env", {
      "targets": { "ios": "7"}
    }],
    ["@babel/react", {
      "runtime": "automatic"
    }],
    "@babel/typescript"
  ]
}
